head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover')
  meta(name='format-detection' content='telephone=no')
  meta(name='format-detection' content='date=no')
  meta(name='format-detection' content='address=no')
  meta(name='format-detection' content='email=no')
  meta(content='notranslate' name='google')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title #{pageTitle || ''}
  meta(name='description' content=pageDescription || '')
  meta(name='keywords' content=pageKeywords || '')
  link(rel='stylesheet' href='css/style.min.css')
  link(rel='stylesheet' href='css/print.min.css' media='print')
  meta(name='theme-color' content='#161615')
  meta(name='apple-mobile-web-app-title' content='Champ')
  meta(name='application-name' content='Champ')
  meta(name='msapplication-TileColor' content='#2b5797')
  link(rel='apple-touch-icon' sizes="180x180" href="img/favicon/apple-touch-icon.png")
  link(rel='icon' type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png")
  link(rel='icon' type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png")
  link(rel='manifest' href="img/favicon/site.webmanifest")
  link(rel='mask-icon' href="img/favicon/safari-pinned-tab.svg" color="#5bbad5")
  meta(property="og:image:width" content="1200")
  meta(property="og:image:height" content="630")
  meta(property="og:title" content="Champ")
  meta(property="og:description" content="Довольные сотрудники работают лучше")
  meta(property="og:url" content="http://champ.devgg.ru/")
  meta(property="og:image" content="http://champ.devgg.ru/img/sharing/sharing-fb.png")
  meta(property="vk:image" content="http://champ.devgg.ru/img/sharing/sharing-vk.png")

